{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Filter News
{% endblock title %}

{% block content %}
    <h1>Filter News</h1>
    <!--<p><small>All news - {{ postList|length }}</small></p>-->
    <div class="card mb-3">
        <div class="card-body">
            <form method="GET">
                <div class="mb-3">
                    <label for="id_author__authorUser__username__contains" class="form-label">Author</label>
                    <input type="text" class="form-control" id="id_author__authorUser__username__contains" name="author__authorUser__username__contains">
                </div>
                <div class="mb-3">
                    <label for="id_dateCreation__gt" class="form-label">Date publication (is greater than)</label>
                    <input type="date" class="form-control" id="id_dateCreation__gt" name="dateCreation__gt">
                </div>
                <div class="mb-3">
                    <label for="id_title__icontains" class="form-label">Title</label>
                    <input type="text" class="form-control" id="id_title__icontains" name="title__icontains">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <hr />
    {% if postList %}
        <!--{{ postList }}-->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in filter.qs %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title|censor }}</h5>
                        <p class="card-text">{{ post.text|censor|truncatechars:20 }}</p>
                        <p>
                            <a href="/news/{{ post.id }}">Read more</a> | <a href="/news/{{ post.id }}/edit">Edit</a> | <a href="/news/{{ post.id }}/delete">Delete</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Author: {{ post.author.authorUser }}</small><br />
                        <small class="text-muted">Date publication: {{ post.dateCreation|date:'d.m.Y' }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p><strong>Not news =(</strong></p>
        {% endif %}
{% endblock content %}