<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет Product -->
{% block title %}
Post | {{ post.title|censor }}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.title|censor }}</h1>
<p><small>Date publication: {{ post.dateCreation|date:'d.m.Y' }}</small></p>
<p>{{ post.text|censor }}</p>
{% if request.user.is_authenticated and not is_not_premium %}
    <p>
        <a href="/news/{{ post.id }}/edit">Edit</a> | <a href="/news/{{ post.id }}/delete">Delete</a>
    </p>
{% elif request.user.is_authenticated and is_not_premium %}
    <p>
        In order to add, edit or delete news, <a href="/sign/upgrade/" data-bs-toggle="tooltip" data-bs-placement="top" title="BECOME AN AUTHOR!">you need to become an author</a>.
    </p>
{% endif %}

{% endblock content %}